<%= form_with(model: caffe, local: true) do |form| %>
  <% if caffe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caffe.errors.count, "error") %> prohibited this caffe from being saved:</h2>

      <ul>
      <% caffe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
