<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings for the day, <%= @user.email %></h1>
    <h2>There is a new comment for your Message Board title <strong style="color:violet"> "<%= @message.title%> ! " </strong>, to reply to this comment , please login to your Social Trip account</h2>
    
    <br>
    <p>Warm Regards</p>
    <p>Team, Social Trip App</p>
  </body>
</html>