<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings for the day, <%= @user.email %></h1>
    <h2>You have created a new Message <strong style="color:violet"> "<%= @message.title%>" </strong> for your Message Board , thanks for helping other users plan their trip on their Social Trip account</h2>
    
    <br>
    <p>Warm Regards</p>
    <p>Team, Social Trip App</p>
  </body>
</html>